{% extends "layout.html.j2" %}
{% block title %}
  {{item.name}}
{% endblock %}

{% block head %}


{% endblock %}

{% block content %}
  <div class="panel-item panel-body">
    <h3 class="text-info">{{item.name}}
      <span class="small-link">
        (<a href="{{url_for('displaySingleCatItems', cat_id = item.category_id)}}">{{item.category.name}}</a>)
      </span>
    </h3>
    <p class="img-thumbnail"><img src="/images/{{item.image}}" /></p>

    <p>{{item.description}}</p>
  </div>
  {% if 'username' in login_session %}
    <div class="panel-footer text-right">
      <a class="btn btn-success btn-sm"
        href="{{url_for('editItem', item_id = item.id )}}">
        <span class="glyphicon glyphicon-pencil"></span> Edit
      </a>
      <button data-toggle="modal" data-target="#deleteModal" class="btn btn-danger btn-sm delete-btn">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </button>
    </div>
  {% endif %}
{% endblock %}

{% block js %}
<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
    <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Delete Item</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to delete <b>{{item.name}}</b>?
      </div>
      <div class="modal-footer">
      <form class="form-delete" method="post" action="{{url_for('deleteItem', item_id = item.id)}}">
        <input name=_csrf_token type=hidden value="{{ login_session['_csrf_token'] }}">

        <button type="submit" class="btn btn-sm btn-danger">
          <span class="glyphicon glyphicon-trash"></span> Delete Item
        </button>
      </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
