body{
    background-color: #eee;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}
.header-bar{
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.header-bar h1 a,.header-bar h1 a:hover{
  color: white;
  text-decoration: none;
}
.header-bar .login-session-col{
  padding: 20px 15px 0px 15px;
}
.header-bar .login-session-col a{
  color: white;
  text-decoration: underline;
}
.header-bar .avatar{
  width: auto;
  height: 40px;
  float: right;
  margin-left: 10px;
}

.panel-body.display-items{
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.cat-cols, .content-cols{
  /*float: none;
  display: table-cell;
  padding: 0px 15px 15px 15px;*/
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 20px;
}
.panel-item{
  padding: 0px 15px 15px 15px;
}
.cat-cols{
  border-right: 1px solid #ddd;
}

.cat-text:hover,
a.curr-cat{
  font-weight: bold;
  text-decoration: underline;
}

.small-link{
  font-size: 16px;
}
.item-display{
  padding: 0px 5px 20px 5px;
}


form.edit-item{
  margin: 0;
}
form.form-delete{
  display: inline;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 1.1em;
  height: 1.1em;
  stroke-width: 0;
  stroke: #fff;
  fill: #fff;
  margin: 0px 5px 3px 0px;
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
